# Pivoting the simplex tableau

## Introduction to optimization and operations research

Michel Bierlaire

In [ ]:

import numpy as np

The objective of this lab is to implement the pivoting of the simplex tableau.

Consider the following simplex tableau.

In [ ]:
the_tableau = np.array(
    [
        [0, 1.5, 1, 1, -0.5, 0, 10],
        [1, 0.5, 1, 0, 0.5, 0, 10],
        [0, 1, -1, 0, -1, 1, 0],
        [0, -7, -2, 0, 5, 0, 100],
    ]
)
print(the_tableau)

We want to pivot the tableau around the following pivot.

In [ ]:
the_pivot_row: int = 2
the_pivot_column: int = 1

What is the variable that enters the basis?
The variable corresponding to the column of the pivot: x[1]

What is the variable that leaves the basis?
Row 2 corresponds to variable x[5]

What is the value of the pivot?

In [ ]:
the_pivot_value = the_tableau[
    the_pivot_row, the_pivot_column
]
print(the_pivot_value)

What is the row of the pivot?

In [ ]:
the_row_of_the_pivot = the_tableau[
    the_pivot_row, :
]
print(the_row_of_the_pivot)

We want to apply the elementary row operation on row 0, so that the element at the column of the pivot becomes zero.

In [ ]:
the_processing_row = 0
the_current_value = the_tableau[
    the_processing_row, the_pivot_column
]
print(f'Current value @ row 0, pivot column: {the_current_value}')

We need to add a multiple of the pivot row to row 0.

In [ ]:
the_multiplier = -the_current_value / the_pivot_value
the_tableau[the_processing_row, :] += the_multiplier * the_row_of_the_pivot

New row after operation

In [ ]:
print(the_tableau[the_processing_row, :])

We now automatize the process for all rows.

Fill the ????

In [ ]:
def pivoting(tableau: np.ndarray, pivot_row: int, pivot_column: int) -> np.ndarray:
    """Pivot the simplex tableau

    :param tableau: original tableau.
    :param pivot_row: index of the row of the pivot.
    :param pivot_column: index of the column of the pivot.
    :return: pivoted tableau.
    """
    n_rows, n_columns = tableau.shape
    if pivot_row < 0 or pivot_row >= n_rows:
        error_msg = f'Row index {pivot_row} out of range [0, {n_rows-1}]'
        raise ValueError(error_msg)
    if pivot_column < 0 or pivot_column >= n_columns:
        error_msg = f'Column index {pivot_column} out of range [0, {n_columns-1}]'
        raise ValueError(error_msg)

    pivot_value = tableau[pivot_row, pivot_column]
    # Verify that the value is not close to zero
    if np.isclose(pivot_value, 0.0):
        error_msg = f'Pivot is numerically too close to zero: {pivot_value}'
        raise ValueError(error_msg)

    row_of_the_pivot = tableau[pivot_row, :]

    # We treat first all rows except the row of the pivot.
    for row in range(n_rows):
        if row != pivot_row:
            current_value = tableau[
                row, pivot_column
            ]
            multiplier = -current_value / pivot_value
            tableau[row, :] += (
                multiplier * row_of_the_pivot
            )
    # Finally, we treat the row of the pivot.
    tableau[pivot_row, :] /= pivot_value
    return tableau

Test the function

In [ ]:
pivoted_tableau = pivoting(
    tableau=the_tableau, pivot_row=the_pivot_row, pivot_column=the_pivot_column
)
print(pivoted_tableau)

The column of the pivot should be a column of the identity matrix, where 1 is at the row of the pivot.

In [ ]:
print(f'Column of the pivot after pivoting: {pivoted_tableau[:, the_pivot_column]}')
print(
    f'New value at the position of the pivot: {pivoted_tableau[the_pivot_row, the_pivot_column]}'
)

Let's pivot the tableau again.

In [ ]:
the_pivot_row: int = 0
the_pivot_column: int = 2

What is the variable that enters the basis?
The variable corresponding to the column of the pivot: x[2]

What is the variable that leaves the basis?
Row 0 corresponds to variable x[3]

What is the value of the pivot?

In [ ]:
the_pivot_value = the_tableau[
    the_pivot_row, the_pivot_column
]
print(the_pivot_value)

What is the row of the pivot?

In [ ]:
the_row_of_the_pivot = the_tableau[
    the_pivot_row, :
]
print(the_row_of_the_pivot)

We apply the function again

In [ ]:
re_pivoted_tableau = pivoting(
    tableau=pivoted_tableau, pivot_row=the_pivot_row, pivot_column=the_pivot_column
)
print(re_pivoted_tableau)